/*头部*/

body {
    font-size: 16px;
}

.navHeader {
    background: #ffffff;
    width: 100%;
    height: 3.75em;
    border-bottom: 1px solid #e7e7e7;
}


/*导航*/

.nav {
    height: 100%;
    /*max-width: 1000px;*/
    width: 1000px;
    margin: 0 auto;
    position: relative;
}


/*logo*/

.navlogo img {
    margin: 7px 0 0 0;
    height: 45px;
    width: 116px;
}


/*导航链接列表*/

.navLink {
    position: absolute;
    left: 140px;
    top: 0px;
    right: 1px;
}


/*导航链接列表选项*/

.navLink li {
    display: inline-block;
    width: 110px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: #3e3e3e;
    font-size: 14px;
}


/*设置连接中第一个元素的字体颜色*/

.navLink li:first-child {
    color: #4EBE6D;
}


/*下拉小箭头*/

.navLink li .img {
    display: inline-block;
    width: 10px;
    height: 5px;
    margin-left: 4px;
    margin-bottom: 1px;
    background: url(../images/nav_down.jpg);
    background-size: 10px 5px;
}

.navLink li:hover {
    color: #4EBE6D
}


/*当鼠标放到选项上的动画 注意这里的forwards 保持动画结束是的状态
   问题1：想实现在一定时刻动画暂停下
*/

.navLink li:hover .img {
    background: url(../images/nav_selectdown.jpg);
    background-size: 10px 5px;
    animation: circle 1s linear 1 forwards;
    -webkit-animation: circle 1s linear 1 forwards;
}

@-webkit-keyframes circle {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    70% {
        transform: rotate(360deg);
    }
    90% {
        transform: rotate(530deg);
        -webkit-animation-play-state: paused;
    }
    100% {
        transform: rotate(540deg);
    }
}


/*职业学院下拉框*/

.navLink .profeUl {
    position: absolute;
    display: none;
    width: 250px;
    height: 281px;
    top: 60px;
    left: 130px;
    border: 1px solid #e7e7e7;
    background-color: #ffffff;
    border-radius: 0 0 2px 2px;
    z-index: 999;
}


/*下拉框的总体选择*/

.navLink .profeUl li,
.navLink .vipUl li,
.navLink .jkUl li {
    height: 30px;
    display: block;
    width: 100%;
    font-size: 12px;
}


/*下拉框第一个选择*/

.navLink .profeUl li:first-child {
    color: #5A5A5A;
    margin-top: 10px;
}


/*下拉框选择的标题*/

.navLink .profeUl .prodownTitle {
    text-align: left;
    background-color: rgba(158, 158, 158, 0.13);
    line-height: 30px;
    padding-left: 5px;
    width: 98%;
}


/*下拉的链接*/

.navLink .profeUl li a,
.navLink .vipUl li a,
.navLink .jkUl li a {
    display: block;
    height: 30px;
    line-height: 30px;
    width: 100%;
    text-decoration: none;
    color: #5A5A5A;
}


/*下拉前端图标*/

.navLink .profeUl li .proWeb,
.navLink .profeUl li .proWX,
.navLink .profeUl li .proPy,
.navLink .profeUl li .proGo,
.navLink .profeUl li .proAnd,
.navLink .profeUl li .proIos {
    background: url(../images/down_link.jpg) no-repeat;
    background-size: 12px 12px;
    background-position: 20px 10px;
    text-align: left;
    padding-left: 40px;
}


/*鼠标放上显示出来下拉*/

.navLink li:hover .profeUl {
    display: block;
    color: #5A5A5A;
}


/*会员课程*/

.navLink .vipUl {
    display: none;
    position: absolute;
    top: 60px;
    width: 250px;
    height: 185px;
    border-radius: 0 0 2px 2px;
    border: 1px solid #e7e7e7;
    background-color: #ffffff;
    right: 42%;
    z-index: 999;
}


/*会员课程下拉的图标*/

.navLink .vipUl li .vipCours,
.navLink .vipUl li .vipLine,
.navLink .vipUl li .vipKnow,
.navLink .vipUl li .vipClass,
.navLink .vipUl li .vipSign,
.navLink .vipUl li .vipPur {
    background: url(../images/down_link.jpg) no-repeat;
    background-size: 12px 12px;
    background-position: 20px 10px;
    text-align: left;
    padding-left: 40px;
}


/*会员课程li*/

.navLink .vipUl li a,
.navLink .jkUl li a {
    color: #5A5A5A;
    text-align: left;
    float: left;
}

.navLink .vipUl li span,
.navLink .jkUl li span {
    float: right;
    color: #5A5A5A;
    float: right;
    margin-right: 52px;
    line-height: 30px;
}

.navLink li:hover .vipUl {
    display: block;
    color: #5A5A5A;
}


/*极客社区*/

.navLink .jkUl {
    display: none;
    position: absolute;
    top: 60px;
    right: 29%;
    width: 250px;
    height: 130px;
    border-radius: 0 0 2px 2px;
    border: 1px solid #e7e7e7;
    background-color: #ffffff;
    z-index: 999;
}

.navLink .jkUl li .jkAnswer,
.navLink .jkUl li .jkWiki,
.navLink .jkUl li .jkQun,
.navLink .jkUl li .jkData {
    background: url(../images/down_link.jpg) no-repeat;
    background-size: 12px 12px;
    background-position: 20px 10px;
    text-align: left;
    padding-left: 40px;
}

.navLink li:hover .jkUl {
    display: block;
    color: #5A5A5A;
}


/*搜索 登录和下载*/

.navLink .navLeft {
    width: 50px;
}

.navLink .search {
    margin-left: 25%;
}


/*主体*/

.container {
    background: #f5f5f5;
    border-top: 1px solid #f5f5f5;
    /*height: 200em;*/
}


/*中间部分的body*/

.innerContainer {
    background-color: #F4F4F4;
    height: 100%;
    /*max-width: 1000px;*/
    width: 1000px;
    margin: 0 auto;
}


/*第一部分 banner 登录 推荐*/

.innerContainer .headerInfo {
    width: 100%;
    height: 332px;
    margin-top: 20px;
    background-color: #F4F4F4;
    position: relative;
}


/*滚动的广告位*/

.headerInfo .headerScroll {
    height: 100%;
    width: 75%;
    background-color: #F4F4F4;
    float: left;
}

.headerInfo .headerScroll a {
    display: block;
    width: 100%;
    height: 100%;
    background: url(../images/scroll.jpg);
    background-size: 100% 100%;
}


/*登录人信息*/

.headerInfo .headerLogin {
    width: 24%;
    height: 160px;
    background-color: #ffffff;
    float: right;
    position: relative;
    border: 1px solid #DCDCDC;
}


/*登录人的头像*/

.headerInfo .headerLogin img {
    display: block;
    width: 50px;
    height: 50px;
    margin-top: 30px;
    margin-left: 30px;
}


/*名称*/

.headerInfo .headerLogin .name {
    position: absolute;
    left: 90px;
    top: 30px;
}


/*欢迎*/

.headerInfo .headerLogin .welcome {
    position: absolute;
    left: 90px;
    top: 60px;
}


/*登录按钮连接*/

.headerInfo .headerLogin .loginA {
    display: inline-block;
    text-decoration: none;
    border: 1px solid #4CAF50;
    width: 85px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-left: 25px;
    margin-top: 30px;
    color: #4CAF50;
}

.headerInfo .headerLogin .registerB {
    display: inline-block;
    text-decoration: none;
    border: 1px solid #4CAF50;
    width: 85px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-top: 30px;
    margin-left: 10px;
    color: #4CAF50;
}


/*推荐课程*/

.headerInfo .headerRecom {
    width: 24%;
    height: 160px;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #F4F4F4;
}

.headerInfo .headerRecom a {
    display: block;
    width: 100%;
    height: 100%;
    background: url(../images/mo.jpg);
    background-size: 100% 100%;
}


/*就业班推荐*/

.innerContainer .JobCourse {
    width: 100%;
    height: 150px;
    background-color: #F4F4F4;
    margin-top: 20px;
}


/*推荐课程的列表*/

.JobCourse .jobCourseUl {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}


/*推荐课程的li*/

.JobCourse .jobCourseUl li {
    display: inline-block;
    width: 32%;
    height: 45%;
    background-color: blue;
}


/*第一排推荐课程*/

.JobCourse .jobCourseUl .jobPhp,
.JobCourse .jobCourseUl .jobWeb,
.JobCourse .jobCourseUl .jobUI {
    margin-top: 0px;
    margin-right: 10px;
}

.JobCourse .jobCourseUl .jobPhp a,
.JobCourse .jobCourseUl .jobWeb a,
.JobCourse .jobCourseUl .jobUI a {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../images/phy.jpg);
    background-size: 100% 100%;
}


/*第二排推荐课程*/

.JobCourse .jobCourseUl .jobAndroid,
.JobCourse .jobCourseUl .jobIOS,
.JobCourse .jobCourseUl .jobJava {
    margin-top: 14px;
    margin-right: 10px;
}

.JobCourse .jobCourseUl .jobAndroid a,
.JobCourse .jobCourseUl .jobIOS a,
.JobCourse .jobCourseUl .jobJava a {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../images/phy.jpg);
    background-size: 100% 100%;
}

.JobCourse .jobCourseUl .jobPhp a:hover,
.JobCourse .jobCourseUl .jobWeb a:hover,
.JobCourse .jobCourseUl .jobUI a:hover,
.JobCourse .jobCourseUl .jobAndroid a:hover,
.JobCourse .jobCourseUl .jobIOS a:hover,
.JobCourse .jobCourseUl .jobJava a:hover{

    box-shadow:5px 5px 5px rgba(0,0,0,.6);
}


/*最后一列推荐课程*/

.JobCourse .jobCourseUl .jobUI,
.JobCourse .jobCourseUl .jobJava {
    margin-right: 0px;
}


/*可购买的提高课程*/

.innerContainer .RaiseCourse {
    width: 100%;
    height: 275px;
    background-color: #F4F4F4;
    margin-top: 20px;
}

.RaiseCourse .raiseCourseUl {
    width: 100%;
    height: 275px;
    box-sizing: border-box;
}


/*推荐课程的li*/

.RaiseCourse .raiseCourseUl li {
    float: left;
    width: 23.2%;
    height: 275px;
    background-color: #fff;
    border: 1px solid #DCDCDC;
    border-radius: 4px;
}

/*推荐课程的li a*/
.RaiseCourse .raiseCourseUl li:hover{
    
    box-shadow:5px 5px 5px rgba(0,0,0,.6);
}


/*设置间距*/

.raiseCourseUl .eclipse,
.raiseCourseUl .vue,
.raiseCourseUl .python {
    margin-right: 2.1%;
}

.raiseCourseUl .eclipse a,
.raiseCourseUl .vue a,
.raiseCourseUl .python a,
.raiseCourseUl .wx a {
    text-decoration: none;
    color: #3e3e3e;
    font-size: 14px;
}


/*图片*/

.raiseCourseUl .eclipse a img,
.raiseCourseUl .vue a img,
.raiseCourseUl .python a img,
.raiseCourseUl .wx a img {
    display: block;
    width: 100%;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    margin-top: -1px;
}


/*课程的标题*/

.raiseCourseUl .eclipse .courseTitle,
.raiseCourseUl .vue .courseTitle,
.raiseCourseUl .python .courseTitle,
.raiseCourseUl .wx .courseTitle {
    display: block;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
}


/*课程时间*/

.raiseCourseUl .eclipse .courseTime,
.raiseCourseUl .vue .courseTime,
.raiseCourseUl .python .courseTime,
.raiseCourseUl .wx .courseTime {
    display: block;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 5px;
}


/*价格*/

.raiseCourseUl .eclipse .courseP,
.raiseCourseUl .vue .courseP,
.raiseCourseUl .python .courseP,
.raiseCourseUl .wx .courseP {
    display: inline-block;
    margin-left: 15px;
    margin-top: 10px;
    font-size: 14px;
    color: #FF0000;
}

.raiseCourseUl .eclipse .coursePrice,
.raiseCourseUl .vue .coursePrice,
.raiseCourseUl .python .coursePrice,
.raiseCourseUl .wx .coursePrice {
    display: inline-block;
    font-size: 18px;
    color: #FF0000;
    margin-top: 5px;
}

.raiseCourseUl .eclipse .oldPrice,
.raiseCourseUl .vue .oldPrice,
.raiseCourseUl .python .oldPrice,
.raiseCourseUl .wx .oldPrice {
    font-size: 13px;
    color: #C8C8C8;
}

.raiseCourseUl .eclipse .courseNumber,
.raiseCourseUl .vue .courseNumber,
.raiseCourseUl .python .courseNumber,
.raiseCourseUl .wx .courseNumber {
    display: inline-block;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}


/*职业学院*/

.innerContainer .JobSchool {
    width: 100%;
    height: 330px;
    background-color: #F4F4F4;
    margin-top: 20px;
}


/*标题*/

.innerContainer .JobSchool h2 {
    background-color: #F4F4F4;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
}

/*hover*/

.JobSchool .JobSchoolWeb:hover,
.JobSchool .JobSchoolOther .jobSchPython:hover,
.JobSchool .JobSchoolOther .jobSchGo:hover,
.JobSchool .JobSchoolOther .jobSchIOS:hover,
.JobSchool .JobSchoolOther .jobSchWX:hover{

   /*box-shadow:5px 5px 5px rgba(0,0,0,.6);*/
   
}


/*职业学院----web前端

.JobSchool .JobSchoolWeb {
    width: 50%;
    height: 280px;
    background-color: orange;
    float: left;
}

.JobSchool .JobSchoolWeb img {
    display: block;
    width: 500px;
    height: 280px;
}


/*职业学院----其他*/

.JobSchool .JobSchoolOther {
    width: 49%;
    height: 280px;
    background-color: #F4F4F4;
    float: right;
}


/*其他课程*/

.JobSchoolOther .jobSchPython,
.JobSchoolOther .jobSchGo,
.JobSchoolOther .jobSchIOS,
.JobSchoolOther .jobSchWX {
    width: 49%;
    height: 48%;
    background-color: orange;
    float: left;
}

.JobSchoolOther .jobSchPython img,
.JobSchoolOther .jobSchGo img,
.JobSchoolOther .jobSchIOS img,
.JobSchoolOther .jobSchWX img {
    display: block;
    width: 240px;
    height: 136px;
}


/*python*/

.JobSchoolOther .jobSchPython {
    margin-right: 9px;
}


/*ios */

.JobSchoolOther .jobSchIOS {
    margin-top: 11px;
    margin-right: 9px;
}


/*wx*/

.JobSchoolOther .jobSchWX {
    margin-top: 11px;
}


/*会员课程*/

.innerContainer .VipCourse {
    width: 100%;
    height: 420px;
    background-color: #F4F4F4;
    margin-top: 20px;
}

.innerContainer .VipCourse ul .vipAnd:hover,
.innerContainer .VipCourse ul .vipIos:hover,
.innerContainer .VipCourse ul .vipSwift:hover,
.innerContainer .VipCourse ul .vipHtml5:hover,
.innerContainer .VipCourse ul .vipJavaScript:hover,
.innerContainer .VipCourse ul .vipNode:hover,
.innerContainer .VipCourse ul .vipC:hover,
.innerContainer .VipCourse ul .vipJava:hover,
.innerContainer .VipCourse ul .vipPHP:hover,
.innerContainer .VipCourse ul .vipjavaWeb:hover,
.innerContainer .VipCourse ul .vippython:hover,
.innerContainer .VipCourse ul .vipcocos:hover{

    box-shadow:5px 5px 5px rgba(0,0,0,.4);
}


/*课程主题*/

.innerContainer .VipCourse h2 {
    height: 50px;
    line-height: 50px;
    background-color: #F4F4F4;
}

.VipCourse ul {
    overflow: hidden;
    zoom: 1;
}


/*设置有边距*/

.VipCourse .vipAnd,
.VipCourse .vipIos,
.VipCourse .vipSwift,
.VipCourse .vipHtml5,
.VipCourse .vipC,
.VipCourse .vipJava,
.VipCourse .vipPHP,
.VipCourse .vipjavaWeb,
.VipCourse .vipJavaScript,
.VipCourse .vippython {
    margin-right: 10.4px;
    position: relative;
}

.VipCourse .vipNode,
.VipCourse .vipcocos {
    position: relative;
}

.VipCourse .vipAnd a,
.VipCourse .vipIos a,
.VipCourse .vipSwift a,
.VipCourse .vipHtml5 a,
.VipCourse .vipJavaScript a,
.VipCourse .vipNode a,
.VipCourse .vipC a,
.VipCourse .vipJava a,
.VipCourse .vipPHP a,
.VipCourse .vipjavaWeb a,
.VipCourse .vippython a,
.VipCourse .vipcocos a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    font-size: 14px;
    color: #3e3e3e;
}

.VipCourse .vipAnd img,
.VipCourse .vipIos img,
.VipCourse .vipSwift img,
.VipCourse .vipHtml5 img,
.VipCourse .vipJavaScript img,
.VipCourse .vipNode img,
.VipCourse .vipC img,
.VipCourse .vipJava img,
.VipCourse .vipPHP img,
.VipCourse .vipjavaWeb img,
.VipCourse .vippython img,
.VipCourse .vipcocos img {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -17px;
    margin-top: -25px;
}

.VipCourse .vipAnd .title,
.VipCourse .vipIos .title,
.VipCourse .vipSwift .title,
.VipCourse .vipHtml5 .title,
.VipCourse .vipJavaScript .title,
.VipCourse .vipNode .title,
.VipCourse .vipC .title,
.VipCourse .vipJava .title,
.VipCourse .vipPHP .title,
.VipCourse .vipjavaWeb .title,
.VipCourse .vippython .title,
.VipCourse .vipcocos .title {
    display: block;
    margin-top: 100px;
    width: 100%;
    text-align: center;
}

.VipCourse .vipAnd .number,
.VipCourse .vipIos .number,
.VipCourse .vipSwift .number,
.VipCourse .vipHtml5 .number,
.VipCourse .vipJavaScript .number,
.VipCourse .vipNode .number,
.VipCourse .vipC .number,
.VipCourse .vipJava .number,
.VipCourse .vipPHP .number,
.VipCourse .vipjavaWeb .number,
.VipCourse .vippython .number,
.VipCourse .vipcocos .number {
    display: block;
    margin-top: 5px;
    text-align: center;
    width: 100%;
}


/*设置每个模块*/

.VipCourse li {
    width: 158px;
    height: 150px;
    /*background-color: orange;*/
    background-color: #ffffff;
    float: left;
    margin-bottom: 10px;
}


/*全部课程*/

.VipAllCourse {
    width: 100%;
    height: 50px;
    background-color: #F4F4F4;
    border-top: 1px solid #F4F4F4;
}

.VipAllCourse a {
    display: block;
    text-decoration: none;
    color: #4CAF50;
    text-align: center;
    line-height: 40px;
    width: 100px;
    height: 40px;
    margin: 0 auto;
    border: 1px solid #4CAF50;
    margin-top: 4px;
}


/*学员故事*/

.innerContainer .studentStory {
    width: 100%;
    margin-top: 20px;
    height: 330px;
    background-color: green;
}

.innerContainer .studentStory h2 {
    height: 50px;
    line-height: 50px;
    padding-left: 10px;
    background-color: #F4F4F4;
}


/*学员故事*/

.studentStory .studentIntro {
    height: 280px;
    width: 100%;
    background-color: #f5f5f5;
}

.studentStory .studentIntro ul {
    display: block;
    height: 100%;
    width: 100%;
}


/*每一个*/

.studentStory .studentIntro ul li {
    display: inline-block;
    height: 100%;
    width: 32%;
}


/*介绍一段话*/

.studentStory .studentIntro ul li p {
    margin-top: 20px;
    border: 1px solid #e4e4e4;
    margin-left: 10px;
    margin-right: 10px;
    padding: 15px;
}


/*头像*/

.studentStory .studentIntro ul li img {
    display: inline-block;
    margin-top: 30px;
    margin-left: 16px;
    width: 50px;
    height: 50px;
}


/*姓名*/

.studentStory .studentIntro ul li .studentName {
    display: block;
    float: right;
    margin-right: 67%;
    margin-top: 12%;
}

.studentStory .studentIntro ul li .studentCuss {
    display: block;
    float: right;
    margin-right: 48%;
    margin-top: -6%
}


/*合作企业*/

.innerContainer .CooperEnterprise {
    width: 100%;
    height: 291px;
    /*background-color: green;*/
    margin-top: 20px;
}


/*合作企业的标题*/

.CooperEnterprise h2 {
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding-left: 10px;
    /*background-color: yellow;*/
}

.CooperEnterprise ul {
    overflow: hidden;
    zoom: 1;
}


/*设置有边距*/

.CooperEnterprise .EnterMicr,
.CooperEnterprise .EnterTencent,
.CooperEnterprise .EnterTencentYun,
.CooperEnterprise .EnterQual,
.CooperEnterprise .Entercocos2d,
.CooperEnterprise .EnteriFLY,
.CooperEnterprise .EnterTURING,
.CooperEnterprise .EnterTingYun,
.CooperEnterprise .EnterJuHe,
.CooperEnterprise .EnterBootStrap {
    margin-right: 20px;
    background: url(../images/yunicon.jpg) no-repeat;
    background-size: 149px 49px;
    border: 1px solid #e7e7e7;
    box-sizing: border-box;
}

.CooperEnterprise .EnterAmd,
.CooperEnterprise .Entercloudstack {
    background: url(../images/yunicon.jpg) no-repeat;
    background-size: 149px 49px;
    border: 1px solid #e7e7e7;
    box-sizing: border-box;
}


/*设置每个模块*/

.CooperEnterprise li {
    width: 150px;
    height: 50px;
    background-color: orange;
    float: left;
    margin-bottom: 20px;
}


/*全部课程*/

.AllCooperEnter {
    width: 100%;
    height: 50px;
    /*background-color: yellow;*/
    border-top: 1px solid #F4F4F4;
}

.AllCooperEnter a {
    display: block;
    text-decoration: none;
    border: 1 solid green;
    text-align: center;
    line-height: 40px;
    width: 100px;
    height: 40px;
    margin: 0 auto;
    border: 1px solid #4CAF50;
    margin-top: 4px;
    color: #4CAF50
}


/*底部*/

.footer {
    background: #ffffff;
    height: 19em;
}

.Innerfooter {
    height: 100%;
    /*max-width: 1000px;*/
    width: 1000px;
    margin: 0 auto;
    background-color: #ffffff;
}


/*footer的上半部分*/

.Innerfooter .footerLink {
    height: 215px;
    width: 100%;
    background-color: orange;
}


/*footer 左侧的logo部分*/

.footerLink .footerLogo {
    /*background-color: yellow;*/
    background-color: #ffffff;
    width: 180px;
    height: 100%;
    float: left;
}


/*logo*/

.footerLogo img {
    width: 110px;
    margin-top: 20px;
}

.footerLogo p {
    font-size: 12px;
    color: #C4C4C4;
    margin-top: 20px;
}


/*footer 中间的选择部分*/

.footerLink .footchoose {
    /*background-color: blue;*/
    background-color: #ffffff;
    width: 640px;
    height: 100%;
    float: left;
}


/*中间的左侧*/

.footchoose .footProfession {
    width: 150px;
    float: left;
}


/*中间的中侧*/

.footchoose .footVipCourse {
    width: 150px;
    float: left;
}


/*中间的右侧*/

.footchoose .footCommunity {
    width: 150px;
    float: left;
}

.footchoose .footOther {
    width: 150px;
    float: left;
}

.footchoose .footProfession,
.footchoose .footVipCourse,
.footchoose .footCommunity,
.footchoose .footOther {
    height: 100%;
    margin-top: 20px;
    margin-left: 10px;
}

.footProfession :first-child,
.footVipCourse :first-child,
.footCommunity :first-child,
.footOther :first-child {
    height: 25px;
    color: #c4c4c4;
}

.footProfession li,
.footVipCourse li,
.footCommunity li,
.footOther li {
    height: 25px;
}

.footProfession li a,
.footVipCourse li a,
.footCommunity li a,
.footOther li a {
    text-decoration: none;
    color: #c4c4c4;
}


/*footer 右侧的选择部分*/

.footerLink .footerPhone {
    background-color: #ffffff;
    width: 180px;
    height: 100%;
    float: left;
}

.footerPhone p {
    margin-top: 18px;
    color: #C4C4C4;
}

.footerPhone ul {
    display: block;
    position: relative;
}

.footerPhone ul li {
    border: 1px solid #C4C4C4;
    width: 120px;
    height: 35px;
    line-height: 35px;
    margin-top: 10px;
    padding-left: 31px;
    background: url(../images/down_link.jpg) no-repeat;
    background-size: 20px 20px;
    background-position: 5px 7px;
    color: #c4c4c4;
}


/*footer的下半部分*/

.Innerfooter .footerCopyRight {
    height: 30px;
}


/*copy*/

.footerCopyRight .footerCpoy {
    margin-top: 20px;
    text-align: center;
    color: #C4C4C4;
}


/*极客学院的链接*/

.footerCopyRight .footerCpoy a {
    text-decoration: none;
    color: #C4C4C4;
}


/*诚信商标*/

.footerCopyRight .footerintegrity {
    margin-top: 10px;
    text-align: center;
}


/*诚信课程的链接*/

.footerCopyRight .footerintegrity a {
    display: inline-block;
    border: 1px solid #F78631;
    border-radius: 4px;
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-decoration: none;
    color: #c4c4c4;
}
